name: Update language stats

on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * 0'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate language stats
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          base: ""
          plugin_languages: yes
          plugin_languages_sections: percentages
          plugin_languages_limit: 6
          plugin_languages_indepth: false
          filename: assets/languages.svg
