name: Update language stats

on:
  schedule:
    - cron: '0 3 * * 0'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate language stats
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          base: ""
          plugin_languages: yes
          plugin_languages_sections: percentages
          plugin_languages_limit: 8
          plugin_languages_indepth: yes
          plugin_languages_colors: github
          plugin_languages_details: percentage
          filename: assets/languages.svg
